.dropdownWrapper {
  border-radius: 5px;
  overflow: hidden;
  max-height: 500px;
  display: inline-block;
  transition: max-height 0.3s ease-out, height 0.3s ease-out;

  .titleWrapper {
    background-color: var(--color-primary);
    height: 50px;
    padding-left: 10px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;

    .title {
      font-size: 18px;
      font-weight: bold;
      color: white;
    }

    .arrow {
      transition: transform 0.3s ease-out;
    }

    .reverseArrow {
      transform: rotate(-180deg);
      transition: transform 0.3s ease-out;
    }
  }

  .contentWrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, height 0.3s ease-out;
    padding: 0;
    background-color: var(--light-grey);

    .textContent,
    .textContentListItem {
      font-size: 0;
      margin: 0;
      transition: max-height 0.3s ease-out, height 0.3s ease-out,
        margin 0.3s ease-out;
      padding: 0;
    }

    .visibleTextContent,
    .visibleTextContentListItem {
      font-size: 18px;
      margin: 2.5px 0;
      transition: max-height 0.3s ease-out, height 0.3s ease-out,
        margin 0.3s ease-out;
      padding: 0;
    }
  }
  .visibleContent {
    max-height: 500px;
    transition: max-height 0.3s ease-out, height 0.3s ease-out;
    padding: 24px 26px 20px 22px;
    display: block;
  }
}

@media (max-width: 768px) {
  .dropdownWrapper {
    gap: 0px;
    height: 30px;

    .titleWrapper {
      height: 30px;
      .title {
        font-size: 13px;
      }
    }

    .contentWrapper {
      display: none;

      .textContent {
        font-size: 12px;
      }

      .textContentListItem {
        font-size: 12px;
      }
    }

    .visibleContent {
      display: block;
      padding: 13px 20px 19px;
    }
  }

  .visibleDropdownWrapper {
    height: auto;
  }
}
