/* Layout.css */
.layout {
  display: flex;
  flex-direction: column;
}

/* Default gap styles */
.small-gap {
  gap: 2.6vw;
}

.large-gap {
  gap: 9.6vw;
}
.default-gap {
  gap: 3.5vw;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .small-gap {
    gap: 5vw;
  }

  .large-gap {
    gap: 30vw;
  }
  .default-gap {
    gap: 7vw;
  }
}
